.passSuccessContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2040' height='999' preserveAspectRatio='none' viewBox='0 0 2040 999'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath2748%26quot%3b)' fill='none'%3e%3crect width='2040' height='999' x='0' y='0' fill='%2332325d'%3e%3c/rect%3e%3ccircle r='44.825' cx='1463.43' cy='69.16' fill='url(%23SvgjsLinearGradient2749)'%3e%3c/circle%3e%3ccircle r='30.63' cx='690.22' cy='930.09' fill='url(%23SvgjsLinearGradient2750)'%3e%3c/circle%3e%3ccircle r='46.095' cx='1800.38' cy='987.75' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='64.715' cx='1008.62' cy='109.2' fill='url(%23SvgjsLinearGradient2751)'%3e%3c/circle%3e%3ccircle r='37.475' cx='1867.85' cy='395.46' fill='url(%23SvgjsLinearGradient2752)'%3e%3c/circle%3e%3ccircle r='75.51' cx='686.78' cy='489.76' fill='url(%23SvgjsLinearGradient2753)'%3e%3c/circle%3e%3ccircle r='31.885' cx='26.09' cy='55.48' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='26.81' cx='1133.79' cy='291.85' fill='url(%23SvgjsLinearGradient2754)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath2748'%3e%3crect width='2040' height='999' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='1373.78' y1='69.16' x2='1553.08' y2='69.16' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2749'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='628.96' y1='930.09' x2='751.48' y2='930.09' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2750'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='879.19' y1='109.2' x2='1138.0500000000002' y2='109.2' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2751'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1792.8999999999999' y1='395.46' x2='1942.8' y2='395.46' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2752'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='535.76' y1='489.76' x2='837.8' y2='489.76' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2753'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1080.17' y1='291.85' x2='1187.41' y2='291.85' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2754'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  height: 100vh;
}
.passSuccess {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 400px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(255, 255, 255, 0.14);
}

@media (max-width: 850px) {
  .passSuccessContainer {
    align-items: flex-start;
  }
  .passSuccess {
    margin-top: 20%;
  }
}
